@media (max-width: 1300px){
    .product__more{
        margin-top: 60px;
    }
}

@media (max-width: 1200px){
    .banner-section-img {
        max-width: 600px;
    }

    .banner-section__inner{
        justify-content: space-around;
    }

    .banner-section__slider {
        max-width: 600px;
    }

    .categories__inner{
        justify-content: space-around;
    }

    .catalog__inner-list{
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    .menu-item + .menu-item {
        padding-left: 20px;
    }

    .header__adress {
        margin-right: 20px;
    }

    .banner-link img{
        width: 100%;
    }

    .card__input-search{
        margin-right: 0;
    }
}

@media (max-width: 968px){
    .header__button{
        display: none;
    }

    .menu-list{
        display: none;
    }

    .menu__btn{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .menu__btn-line{
        border-radius: 3px;
        background: #2F3035;
        height: 3px;
        width: 34px;
        margin: 8px 0;
    }

    .menu-mobile-linewrapper{
        display: block;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        font-family: 'SFProDisplay-Bold', sans-serif;
        background-color: #F0F0F4;
        overflow-x: scroll;
    }

    .menu__mobile-line{
        padding: 14px 0 14px 15px;
        width: 450px;
    }

    .banner-section__inner{
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-section__slider-item{
        text-align: center;
    }

    .banner-section__slider{
        max-width: 100%;
    }

    .banner-section-img{
        max-width: 100%;
        margin-bottom: 25px;
    }

    .mobile-overflow{
        width: 900px;
    }

    .tabs-wrapper, .breadcrums__inner, .catalog__filter-iteminner{
        overflow-x: scroll;
    }

    .tabs-wrapper.tabs-wrapper--no-scroll{
        overflow: hidden;
    }

    .banner-link img{
        min-height: 90px;
        object-fit: contain;
    }

    .product-card__inner{
        flex-wrap: wrap;
    }

    .product-card__tabs{
        display: none;
    }

    .product-card__content{
        order: -1;
    }

    .product-card__btn-mobile{
        display: block;
        margin-top: 40px;
    }

    .product-card__img-box{
        width: 100%;
    }
}

@media (max-width: 940px) {
    .footer__top-inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__top-item{
        margin-bottom: 25px;
    }

    .catalog__filter-btn button{
        display: none;
    }

    .catalog__filter-btn{
        margin-top: 30px;
    }

    .catalog__filter{
        display: block;
    }

    .card__top-line label{
        display: block;
        width: 100%;
        margin-bottom: 18px;
        margin-left: 0;
    }

    .card__list-item{
        display: block;
    }

    .card__list-item div{
        margin-bottom: 15px;
    }

    .card__list-itemtitle{
        display: none;
    }
}

@media (max-width: 640px) {
    .header__adress{
        display: none;
    }

    .banner-section-img {
        min-height: 200px;
    }

    .banner-section .container{
        padding: 0;
    }

    .search__content-btn{
        font-size: 0;
        line-height: 0;
        padding: 17px;
        background-image: url("../images/search.svg");
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        right: 8px;
        top: 13px;
    }

    .search__content-input{
        height: 50px;
        padding-right: 50px;
    }

    .search__content-form{
        position: relative;
    }

    .catalog__inner{
        flex-wrap: wrap;
    }

    .aside__btn{
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        width: 100%;
        color: white;
        background-color: #2C62CD;
        margin-bottom: 30px;
    }

    .aside-filter{
        display: none;
    }

    .product-card__title{
        font-size: 20px;
        line-height: 24px;
    }

    .product-card__buttons a + a {
        margin-left: 10px;
    }

    .product-card__img{
        width: 100%;
    }
}

@media (max-width: 540px){
    .footer__top-item{
        width: 100%;
    }

    .footer__bottom{
        flex-direction: column;
        align-items: start;
    }

    .footer__bottom-link{
        margin: 6px 0;
    }

    .footer__top-inner{
        justify-content: start;
    }

    .footer__top-social.footer__top-item {
        width: 100%;
    }

    .social-list{
        justify-content: center;
    }

    .footer__top-newslatter.footer__top-item{
        margin-right: auto;
        margin-left: auto;
        width: 290px;
        text-align: center;
        border-bottom: none;
    }

    .footer-list{
        display: none;
    }

    .footer__top-title.footer__topdrop{
        color: #7F7F7F;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        padding: 15px 0;
    }

    .footer__top-item{
        border-bottom: 2px solid #f9f9fc;
    }

    .footer__top-itemdrop{
        margin-bottom: 0;
        border-top: 2px solid #f9f9fc;
    }

    .footer__top-itemdrop{
        position: relative;
    }

    .footer__topdrop::after{
        content: "";
        position: absolute;
        background-image: url(../images/arrow-down.svg);
        width: 12px;
        height: 8px;
        right: 0;
        top: 21px;
    }

    .footer__topdrop--active::after{
        transform: rotate(180deg);
    }

    .footer__topdrop{
        pointer-events: auto;
    }
}

@media (max-width: 440px) {
    .banner-section-img {
        min-height: 164px;
    }

    .categories__item{
        min-width: 290px;
        padding: 20px 10px 16px;
    }

    .categories__item-img-cater{
        width: 100%;
    }

    .pagination-list__item{
        margin: 0;
    }
}


